html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.layout {
  text-align: justify;
  margin: auto;
  width: 100vw;
  height: 75vh;
  background-image: url('./bg.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
	background-color: rgb(240,240,240);
	overflow: hidden;
	display: inline-flex;
}

.nav-bar {
  position: fixed;
	overflow: visible;
  margin: 0 750px 135px 20px;
  padding: 15px 300px 150px 50px;
  float: right;
  height: 10%;
  width: 10%;
}

.row {
  /*display: flex;*/
  text-align: right;
  font-size: 32px;
}

.row_list{
  color: #F0F0F0;
  text-decoration: none;
  display: flex;
  /* padding: 0 14px 0 14px; */
  margin: 0 20px 0 0;
  position: fixed;
  right: 0;
  text-align: right;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Lato', sans-serif;
}

a:link, a:visited {
    color: #fff;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: sans-serif;
}

a:hover, a:active {
    border-bottom: 4px solid #bdd436 ;
    padding-bottom: 2px;
    font-family: sans-serif;
}

.logo-text{
  display: block;
	background: none;
  justify-content: center;
  text-align: center;
	color: #fff;
}

.article {
  margin: auto;
	overflow: auto;
  justify-content: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	width: 100vw;
	height: 47vh;
  font-family: 'Oswald', sans-serif;
}

.main{
	font-size: 155px;
	display: block;
	align-content: center;
}

.sub{
	display: block;
}

.sub1{
	color: #ff803a;
}

.sub2{
	color: #bdd436;
}

.button{
	margin: 50px 450px 10px 450px;
	border-radius: 15px 15px 15px 15px;
	/*padding: 11px 36px 11px 36px;*/
	background-color: #bdd436;
	align-content: center;
	justify-content: center;
	width: 600px;
	display: block;
}

.bottom {
	display: inline-block;
	color: #6A787C;
	text-align: center;
	justify-content: center;
	font-size: 28px;
	font-weight: 400;
	background-color: rgb(240,240,240);
	height: 25vh;
	padding: 10px 125px 10px 125px;
}

.bottom-logo{
	overflow: hidden;
	display: inline-block;
	align-content: center;
	margin: 0 auto;
}
